/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto","Helvetica Neue", Helvetica, arial, sans-serif;
    color: #FFF;
    box-sizing: border-box;
    background: black;
    cursor: none;
}
body{
    background: black;
    margin: 0;
    /*padding-right: 30cm;*/
    /*width: calc(100% - 30cm)!important;*/
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e85e00;
    color: white;
    text-shadow: none;
}

::selection {
    background: #e85e00;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-family: "Roboto",sans-serif;
    font-size: 85px!important;
    font-weight: 400;
    line-height: .7;
    margin: 0;
}

/* Example inline media query */
/*@media (min-width: 768px) {*/
    /*h1 {*/
        /*font-size: 58px;*/
        /*line-height: 64px;*/
    /*}*/
/*}*/

h2 {
    font-size: 24px;
    font-weight: 400; /*300*/
    line-height: 1.2;
    margin: 0 0 8px;
}

h3 {
    font-size: 25px;
    font-weight: 400; /*300*/
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

span{
    font-size: 50px;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: BlueViolet;
}

a:hover,
a:focus {
    color: Crimson;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Object: Object name
    ---
    Object description
*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
}

.o-row--primary {
    background: #e85e00;
    color: white;
}

.o-row--dark {
    background: #111111;
    color: white;
}

@media (min-width: 768px) {
    .o-row--lg {
        padding: 24px 24px 12px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

/* Vertical item alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical content alignment modifiers. Only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: flex-start;
}

.o-layout--align-content-end {
    align-content: flex-end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

.o-layout--align-content-space-evenly {
    align-content: space-evenly;
}

.o-layout--align-content-baseline {
    align-content: baseline;
}

/* Vertical self alignment modifiers.*/
.o-layout--align-self-center {
    align-self: center;

}
.o-layout--align-self-end {
    align-self: flex-end;

}
/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    display: flex;
    flex-direction: column;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.c-datetime__time{
    margin: 0 0 24px;
}

.c-weather__now{
    display: flex;
    align-content: center;
    margin: 0 0 24px;
}
.c-weather__now img{
    align-self: center;
    margin-left: 16px;
}
.c-weather__description img{
    width: 1.2em;
    padding-top: 4px;
}

.c-weather__detail{
    display: flex;
}

.c-weather__detail > h2:nth-child(2),
.c-weather__detail > h2:nth-child(4){
    padding: 0 16px;
}

.c-calendar{
    width: 100%;
}

.c-calendar__item .material-icons{
    padding: 16px 32px 0 0;
}
.c-calendar__item{
    /*text-align: right;*/
    display: flex;
}
.c-calendar__item > h2:nth-child(2){
    padding: 0 16px;
}
.c-calendar__item > h2:nth-child(1){
    min-width: 60px;
}

.c-ip{
    margin-right: 8px;
}

.js-session{
    display: none;
}

/* BOX DO NOT FORGET TO CHANGE TO BEM*/
.c-options{
    width: 50%;
    flex-direction: column;
    height: calc(15.75cm);
    padding-top: 25px;
}
.c-options__option h2{
    margin: 0;
}
.c-options__option{
    height: 50px;
}
.c-options__option:last-child{
    justify-self: end!important;
}
.progress {
    margin-right: 16px;
    width: 32px;
    height: 32px;
    padding: 0;
}


/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-sm {
    max-width: 36em;
}

.u-max-width-md {
    max-width: 45em;
}

.u-max-width-lg {
    max-width: 45em;
}

.u-max-width-xl {
    max-width: 60em;
}

.u-max-width-none {
    max-width: 75em;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto;
}

.u-width-full {
    width: calc(100%); /* ACCOMODATE FOR THE BEZELS*/
    /*margin-left: 1.7cm;*/
}

.u-1-of-2 {
    width: 50%;
}

.u-1-of-3 {
    width: calc(100% / 3);
}

.u-2-of-3 {
    width: calc(100% / 3 * 2);
}

.u-1-of-4 {
    width: calc(100% / 4);
}

.u-3-of-4 {
    width: calc(100% / 4 * 3);
}

.u-1-of-5 {
    width: calc(100% / 5);
}

.u-2-of-5 {
    width: calc(100% / 5 * 2);
}

.u-3-of-5 {
    width: calc(100% / 5 * 3);
}

.u-4-of-5 {
    width: calc(100% / 5 * 4);
}

.u-1-of-6 {
    width: calc(100% / 6);
}

.u-5-of-6 {
    width: calc(100% / 6 * 5);
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50%;
    }

    .u-1-of-3-bp1 {
        width: calc(100% / 3);
    }

    .u-2-of-3-bp1 {
        width: calc(100% / 3 * 2);
    }

    .u-1-of-4-bp1 {
        width: calc(100% / 4);
    }

    .u-3-of-4-bp1 {
        width: calc(100% / 4 * 3);
    }

    .u-1-of-5-bp1 {
        width: calc(100% / 5);
    }

    .u-2-of-5-bp1 {
        width: calc(100% / 5 * 2);
    }

    .u-3-of-5-bp1 {
        width: calc(100% / 5 * 3);
    }

    .u-4-of-5-bp1 {
        width: calc(100% / 5 * 4);
    }

    .u-1-of-6-bp1 {
        width: calc(100% / 6);
    }

    .u-5-of-6-bp1 {
        width: calc(100% / 6 * 5);
    }

}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50%;
    }

    .u-1-of-3-bp2 {
        width: calc(100% / 3);
    }

    .u-2-of-3-bp2 {
        width: calc(100% / 3 * 2);
    }

    .u-1-of-4-bp2 {
        width: calc(100% / 4);
    }

    .u-3-of-4-bp2 {
        width: calc(100% / 4 * 3);
    }

    .u-1-of-5-bp2 {
        width: calc(100% / 5);
    }

    .u-2-of-5-bp2 {
        width: calc(100% / 5 * 2);
    }

    .u-3-of-5-bp2 {
        width: calc(100% / 5 * 3);
    }

    .u-4-of-5-bp2 {
        width: calc(100% / 5 * 4);
    }

    .u-1-of-6-bp2 {
        width: calc(100% / 6);
    }

    .u-5-of-6-bp2 {
        width: calc(100% / 6 * 5);
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50%;
    }

    .u-1-of-3-bp3 {
        width: calc(100% / 3);
    }

    .u-2-of-3-bp3 {
        width: calc(100% / 3 * 2);
    }

    .u-1-of-4-bp3 {
        width: calc(100% / 4);
    }

    .u-3-of-4-bp3 {
        width: calc(100% / 4 * 3);
    }

    .u-1-of-5-bp3 {
        width: calc(100% / 5);
    }

    .u-2-of-5-bp3 {
        width: calc(100% / 5 * 2);
    }

    .u-3-of-5-bp3 {
        width: calc(100% / 5 * 3);
    }

    .u-4-of-5-bp3 {
        width: calc(100% / 5 * 4);
    }

    .u-1-of-6-bp3 {
        width: calc(100% / 6);
    }

    .u-5-of-6-bp3 {
        width: calc(100% / 6 * 5);
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50%;
    }

    .u-1-of-3-bp4 {
        width: calc(100% / 3);
    }

    .u-2-of-3-bp4 {
        width: calc(100% / 3 * 2);
    }

    .u-1-of-4-bp4 {
        width: calc(100% / 4);
    }

    .u-3-of-4-bp4 {
        width: calc(100% / 4 * 3);
    }

    .u-1-of-5-bp4 {
        width: calc(100% / 5);
    }

    .u-2-of-5-bp4 {
        width: calc(100% / 5 * 2);
    }

    .u-3-of-5-bp4 {
        width: calc(100% / 5 * 3);
    }

    .u-4-of-5-bp4 {
        width: calc(100% / 5 * 4);
    }

    .u-1-of-6-bp4 {
        width: calc(100% / 6);
    }

    .u-5-of-6-bp4 {
        width: calc(100% / 6 * 5);
    }
}

/*
    Utilities: Absolute
    ---
    Fixed objects
*/
.u-fixed-top {
    position: absolute;
    top: 0;
}

.u-fixed-bottom {
    position: absolute;
    bottom: 0;
}

/*
    Utilities: Absolute
    ---
    Fixed objects
*/

.u-text-align-right{
    text-align: right;
}

/*
    Utilities: Clear padding and margin
    ---
    Fixed objects
*/

.u-clear-pad-mar{
    margin: 0;
    padding: 0;
}


/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

